.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.padding-top {
   padding-top: 5px;
}

.padding-bottom {
	padding-bottom: 5px;
}

.max-width-40 {
	max-width: 40px;
}
.max-width-80 {
	max-width: 80px;
}

/* Canvas */
canvas {
	border: 1px solid black;
	outline: none;
}

canvas#ZoneJeu, canvas#ZoneUpdate, canvas#haut, canvas#bas {
	padding: 0;
	display: block;
	margin: auto;
}

canvas#gauche {
	margin-left: 20px;
	margin-right: 0px;
}
canvas#droite {
	margin-left: 0px;
	margin-right: 20px;
}

/* Toolbox */
.toolbox {
	border-right: 1px solid black;
	border-top: 1px solid black;
	outline: none;
}

.toolbox > li {
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	outline: none;
}

.toolbox input {
	display: none;
}

.toolbox label {
	position: relative;
	background-size: 40px 40px;
	background-repeat: no-repeat;
	margin: 0;
	cursor: pointer;
	height: 40px;   
}

.toolbox input:checked + label {
	z-index: 3000;
	outline: #000 3px solid;
}

/* Banque de sprite */
#spriteBank {
	height: 200px;
	overflow-y: auto;
	border-right: 1px solid black;
	border-top: 1px solid black;
	outline: none;
}

#spriteBank > li {
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	outline: none;
}

#spriteBank input {
	display: none;
}

#spriteBank label {
	position: relative;
	background-size: 40px 40px;
	background-repeat: no-repeat;
	margin: 0;
	cursor: pointer;
	height: 40px;   
}

#spriteBank div {
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#spriteBank div:hover {
	background-color: rgba(200, 200, 200, 0.5);
}

#spriteBank input:checked + label {
	z-index: 3000;
    outline: #000 3px solid;
}

/* Palette */
.palette {
	border-right: 1px solid black;
	border-top: 1px solid black;
	outline: none;
}

.palette > li {
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	outline: none;
}

.palette input {
	display: none;
}

.palette label {
	position: relative;
	margin: 0;
	cursor: pointer;
	height: 40px;   
}

.palette input:checked + label {
	z-index: 3000;
	outline: #000 3px solid;
}

.noir { color:white; background-color:rgba(0, 0, 0, 1); } 
.noir:hover { color:white; background-color:rgba(0, 0, 0, 0.8); }

.bleu { color:white; background-color:rgba(0, 0, 255, 1); } 
.bleu:hover { color:white; background-color:rgba(0, 0, 255, 0.8); }

.rouge { color:white; background-color:rgba(255, 0, 0, 1); } 
.rouge:hover { color:white; background-color:rgba(255, 0, 0, 0.8); }

.jaune { color:white; background-color:rgba(200, 200, 0, 1); } 
.jaune:hover { color:white; background-color:rgba(200, 200, 0, 0.8); }

.vert { color:white; background-color:rgba(0, 200, 0, 1); } 
.vert:hover { color:white; background-color:rgba(0, 200, 0, 0.8); }

.marron { color:white; background-color:rgba(150, 125, 75, 1); } 
.marron:hover { color:white; background-color:rgba(150, 125, 75, 0.8); }

.gris { color:white; background-color:rgba(150, 150, 150, 1); } 
.gris:hover { color:white; background-color:rgba(150, 150, 150, 0.8); }

.cyan { color:white; background-color:rgba(0, 200, 200, 1); } 
.cyan:hover { color:white; background-color:rgba(0, 200, 200, 0.8); }

.nuance:hover { background-color:rgba(150, 150, 150, 0.8); }